%tr
  %td= team_for_table_counter + 1
  %td= link_to team_for_table.name, team_for_table
  %td= team_for_table.number_of_games
  %td= team_for_table.number_of_wins
  %td= team_for_table.number_of_loses
  %td= balance_bar(team_for_table.number_of_games, team_for_table.number_of_wins, team_for_table.number_of_loses)
