%table.m-table
  %thead.m-table--head
    %tr.m-table--row
      %td
      %td.hide-mobile
      %td Spieler
      %td Quote
      %td.hide-mobile Spiele
      %td.hide-mobile{title: "Quote x Log10(Anzahl der Spiele)"} Punkte

  %tbody.m-table--body
    - @teams.each_with_index do |team, i|
      %tr.m-table--row
        %td= i+1
        %td.hide-mobile.m-user-list
          .m-user.as-selected{title: team.users.first.name}= user_image(team.users.first)
          .m-user.as-selected{title: team.users.last.name}= user_image(team.users.last) if team.double?
        %td= link_to team.name, [current_league, team]
        %td= "#{team.percentage}%"
        %td.hide-mobile= team.number_of_games
        %td.hide-mobile{title: "#{team.percentage} x Log10(#{team.number_of_games})"}= team.value
