.m-profile-teams
  .m-profile-basics
    %h4= @team.name
    = render @team.users
    .m-profile-basics--values
      .m-profile-basics--value
        %span= t('teams.quota')
        = @team.elo_quota
      .m-profile-basics--value
        %span= t('teams.wins')
        = @team.number_of_wins
      - if @team.wins.any?
        .m-profile-basics--value
          %span= t('teams.win_points')
          = (@team.wins.sum(:difference).to_f / @team.wins.count).round
      .m-profile-basics--value
        %span= t('teams.loses')
        = @team.number_of_losses
      - if @team.losses.any?
        .m-profile-basics--value
          %span= t('teams.lose_points')
          = (@team.losses.sum(:difference).to_f / @team.losses.count).round

= render 'matches/list', matches: @matches, primary: @team

%p= paginate @matches
