.m-badge-list
  - user = @league.top_crawler

  - if user.present?
    .m-badge
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-star-empty= user.number_of_crawls
      .m-badge--title= t('badges.top_crawler')

  - user = @league.worst_crawler

  - if user.present?
    .m-badge.as-bad
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-medkit= user.number_of_crawlings
      .m-badge--title= t('badges.worst_crawler')

  - user = @league.longest_winning_streak_ever

  - if user.present?
    .m-badge
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-award= user.longest_winning_streak_games
      .m-badge--title= t('badges.longest_winning_streak_ever', wins: user.longest_winning_streak_games)


  - user = @league.longest_winning_streak
  - if user.present?
    .m-badge
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-rocket= user.winning_streak
      .m-badge--title= t('badges.longest_winning_streak', wins: user.winning_streak)


  - user = @league.most_teams
  - if user.present?
    .m-badge
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-users= user.teams.count
      .m-badge--title= t('badges.most_teams')


  - user = @league.active_user_ranking.last
  - if user.present?
    .m-badge.as-bad
      .m-badge--image
        = link_to league_user_path(current_league, user) do
          = user_image(user)
      .m-badge--logo
        %i.icon-lightbulb
      .m-badge--title= t('badges.last_one')

= render 'users/table'
