.m-badge-list
  - user = @league.top_crawler
  - if user.present?
    .m-badge
      .m-badge--image
        = user_image(user)
      .m-badge--logo
        %i.icon-star-empty= user.number_of_crawls
      .m-badge--title= t('badges.top_crawler')
      %hr
      .m-badge--user
        = user.name

  - user = @league.worst_crawler
  .m-badge.as-bad
    .m-badge--image
      = user_image(user)
    .m-badge--logo
      %i.icon-medkit= user.number_of_crawlings
    .m-badge--title= t('badges.worst_crawler')
    %hr
    .m-badge--user
      = user.name

  - user = @league.most_wins

  - if user.present?
    .m-badge
      .m-badge--image
        = user_image(user)
      .m-badge--logo
        %i.icon-award= user.number_of_wins
      .m-badge--title= t('badges.most_wins')
      %hr
      .m-badge--user
        = user.name

  - user = @league.longest_winning_streak
  - if user.present?
    .m-badge
      .m-badge--image
        = user_image(user)
      .m-badge--logo
        %i.icon-rocket= user.winning_streak
      .m-badge--title= t('badges.longest_winning_streak', wins: user.winning_streak)
      %hr
      .m-badge--user
        = user.name
