.m-league-list
  = link_to new_league_path do
    .m-league.as-new
      .m-league--header= t('common.new_league')
      .m-league--body
        %i.icon-plus.m-league--icon

  - @leagues.each do |league|
    = link_to league_path(league), class: 'm-league' do
      .m-league--header= league.name
      .m-league--body
        %div
          %div= t('common.number_of_players')
          .m-league--fact
            %i.icon-user.m-league--icon
            = league.users.size
        %div
          %div= t('common.number_of_matches')
          .m-league--fact= league.matches.size
