
.m-league-list
  = link_to new_league_path do
    .m-league.as-new
      .m-league--header Neue Liga
      .m-league--body
        %i.icon-plus.m-league--icon

  - @leagues.each do |league|
    = link_to league_path(league), class: 'm-league' do
      .m-league--header= league.name
      .m-league--body
        %div
          %div Anzahl Spieler
          .m-league--fact
            %i.icon-user.m-league--icon
            = league.users.count
        %div
          %div Anzahl Spiele
          .m-league--fact= league.matches.count

