= form_for @league, class: 'm-form' do |f|
  .m-form--row
    = label_tag :name, 'Name deiner Liga', class: 'm-label'
    = f.text_field :name, class: 'm-input'
  .m-form--row
    = label_tag :slug, 'Adresse deiner Liga', class: 'm-label'
    = f.text_field :slug, class: 'm-input'
  .m-form--row
    = f.submit 'Liga anlegen', class: 'm-button'
