- if @crawling_match
  .m-karl-crawl--wrapper{data: {behavior: 'overlay'}}
    .m-karl-crawl--close{data: {behavior: 'hide-overlay'}} X
    .m-karl-crawl
      .m-karl-crawl--content
        .m-karl-crawl--text
          .m-karl-crawl--text--headline WOW!
          .m-karl-crawl--text--description= t('karl.crawling')
        .m-karl-crawl--buttons.c-sharing
          - url = url_for(:only_path => false)
          - sharing_text = t('karl.sharing', winner: @crawling_match.winner_team.name, loser: @crawling_match.loser_team.name)
          %a.c-sharing--button.as-facebook{ data: { behavior: 'fb-share-match', text: sharing_text, link: url_for(:only_path => false) } }
            %i.icon-facebook
            = t('common.share')
          = link_to "http://twitter.com/share?text=#{CGI.escape(sharing_text)} @kicker_cool&url=#{url}", class: 'c-sharing--button as-twitter', data: { behavior: 'js-link' } do
            %i.icon-twitter
            = t('common.tweet')
      = image_tag('karl_krabbel.svg')


- if @matches.any?
  .m-matches
    = render "matches/list", matches: @matches
- else
  .m-big-notice.c-matches--match-notice
    .m-big-notice--text= t('matches.non_yet')
    .m-big-notice--button= link_to t('common.new_match'), new_league_match_path(current_league), class: 'm-button'
  - if current_league.users.any?
    %h3 Eingetragene Spieler:
    .m-ranking
      - current_league.users.ranked.each_with_index do |user, index|
        .m-ranking--item{title: user.name}
          = link_to league_user_path(current_league, user) do
            .m-ranking--item--place= index + 1
            .m-ranking--item--image= user_image(user)
            .m-ranking--item--score= user.name

%p= link_to "Zeige alle Spiele nach Datum", [current_league, :matches]
