- if @matches.any?
  .m-matches
    = render "matches/list", matches: @matches
- else
  .m-big-notice.c-matches--match-notice
    .m-big-notice--text= t('matches.non_yet')
    .m-big-notice--button= link_to t('common.new_match'), new_league_match_path(current_league), class: 'm-button'
  - if current_league.users.any?
    %h3 Eingetragene Spieler:
    .m-ranking
      - current_league.users.ranked.each_with_index do |user, index|
        .m-ranking--item{title: user.name}
          = link_to league_user_path(current_league, user) do
            .m-ranking--item--place= index + 1
            .m-ranking--item--image= user_image(user)
            .m-ranking--item--score= user.name
