.m-ranking
  - users = current_league.users.ranked.select{|user| user.active? }
  - users.each_with_index do |user, index|
    .m-ranking--item{title: user.name}
      = link_to league_user_path(current_league, user) do
        .m-ranking--item--place= index + 1
        .m-ranking--item--image= user_image(user)
        .m-ranking--item--score= user.quote
        .m-ranking--item--balance= user_balance(user)
        .m-ranking--item--badge
          - if user.top_crawler?
            %i.icon-star-empty{title: t('badges.top_crawler')}
          - if user.worst_crawler?
            %i.icon-medkit{title: t('badges.worst_crawler')}
          - if user.longest_winning_streak_ever?
            %i.icon-award{title: t('badges.longest_winning_streak_ever', wins: user.longest_winning_streak_games)}
          - if user.longest_winning_streak?
            %i.icon-rocket{title: t('badges.longest_winning_streak', wins: user.winning_streak)}
          - if user.most_teams?
            %i.icon-users{title: t('badges.most_teams')}
          - if index + 1 == users.count
            %i.icon-lightbulb{title: t('badges.last_one')}
