%table.m-table
  %thead.m-table--head
    %tr.m-table--row
      %td
      %td Name
      %td
        = link_to badges_league_path(current_league, order: 'longest_winning_streak_games') do
          %i.icon-award
          Längste Serie
      %td
        = link_to badges_league_path(current_league, order: 'winning_streak') do
          %i.icon-rocket
          Aktuelle Serie
      %td
        = link_to badges_league_path(current_league, order: 'number_of_crawlings') do
          %i.icon-star-empty
          Krabbel lassen
      %td
        = link_to badges_league_path(current_league, order: 'number_of_crawls') do
          %i.icon-medkit
            Gekrabbelt

  %tbody.m-table--body
    - @users.each_with_index do |user, i|
      %tr.m-table--row
        %td= i+1
        %td= link_to user.name, [current_league, user]
        %td= user.longest_winning_streak_games
        %td= user.winning_streak
        %td= user.number_of_crawls
        %td= user.number_of_crawlings
