%table.m-table.c-users-table
  %thead.m-table--head
    %tr.m-table--row
      %td
      %td Name
      %td
        = link_to badges_league_path(current_league, order: 'longest_winning_streak_games') do
          %i.icon-award
      %td
        = link_to badges_league_path(current_league, order: 'winning_streak') do
          %i.icon-rocket
      %td
        = link_to badges_league_path(current_league, order: 'number_of_crawls') do
          %i.icon-star-empty
      %td
        = link_to badges_league_path(current_league, order: 'number_of_crawlings') do
          %i.icon-medkit
      %td
        %i.icon-users


  %tbody.m-table--body
    - @users.each_with_index do |user, i|
      %tr.m-table--row
        %td= i+1
        %td= link_to user.name, [current_league, user]
        - rows = %w(longest_winning_streak_games winning_streak number_of_crawls number_of_crawlings number_of_teams).each do |attr|
          %td{class: ('as-current' if @order == attr)}= user.send(attr)
