.m-row
  .m-row--left
    = form_for @user, url: league_users_path(current_league), class: 'm-form' do |f|
      .m-form--row
        = f.label :name, class: 'm-label'
        = f.text_field :name, class: 'm-input', required: true
      .m-form--row
        = f.label :email, class: 'm-label'
        = f.email_field :email, class: 'm-input', required: true
      .m-form--row
        = f.label :image, class: 'm-label'
        = f.text_field :image, class: 'm-input', required: true
      .m-form--row
        = f.submit "Spieler Anlegen", class: 'm-button'
  .m-row--right
    %p
      = link_to twitter_connect_path(current_league), class: 'm-button_twitter' do
        %i.icon-twitter
        ="Neuer Spieler per Twitter"
    %p
    = link_to facebook_connect_path(current_league), class: 'm-button_facebook' do
      %i.icon-facebook
      = "Neuer Spieler per Facebook"
