%p
  = link_to t('users.edit'), edit_league_user_path(current_league, @user), class: 'm-button'
  - if @user.number_of_games == 0
    = link_to t('users.delete'), league_user_path(current_league, @user), class: 'm-button as-secondary', method: :delete, data: { confirm: t('common.sure') }
.m-profile-teams
  .m-profile-basics
    %h4= @user.name
    .m-user.as-selected.m-profile-basics--user= user_image(@user, '115x115')
    .m-profile-basics--values
      .m-profile-basics--value
        %span= t('users.current_winning_streak')
        = @user.winning_streak
      .m-profile-basics--value
        %span= t('users.longest_winning_streak')
        = @user.longest_winning_streak_games
      .m-profile-basics--value
        %span= t('users.trend')
        = @trend
        = "(#{t('common.points')})"
      .m-profile-basics--value
        %span= t('users.elo')
        = @user.quota
      - if @user.history_entries.any?
        - biggest_quota = @user.history_entries.order('quota desc').take.quota
        - lowest_quota = @user.history_entries.order('quota asc').take.quota
        .m-profile-basics--value
          %span= t('users.point_high')
          = biggest_quota
          = t('common.points')
          = "(#{@user.quota - biggest_quota})"
        .m-profile-basics--value
          %span= t('users.point_low')
          = lowest_quota
          = t('common.points')
          = "(#{@user.quota - lowest_quota})"
        .m-profile-basics--value
          %span= t('users.matches_played')
          = @user.matches.count
  - if @user.teams.any?
    .m-profile-teams--best-worst
      .m-profile-teams--best
        -team = @user.teams.for_doubles.ranked.sort_by(&:value).reverse.first
        - if team.present?
          .m-profile-teams--partner
            %i.icon-thumbs-up.as-green{title: team.value}
            = team.partner_for(@user).try(:name)
          .m-profile-teams--type= t('users.good_with')
          = link_to [current_league, team] do
            .m-user-list
              .m-user.as-selected{title: team.users.first.name}= user_image(team.users.first)
              .m-user.as-selected{title: team.users.last.name}= user_image(team.users.last) if team.double?
      .m-profile-teams--worst
        - team = @user.teams.for_doubles.ranked.sort_by(&:value).first
        - if team.present?
          .m-profile-teams--partner
            %i.icon-thumbs-down.as-red{title: team.value}
            = team.partner_for(@user).try(:name)
          .m-profile-teams--type= t('users.bad_with')
          = link_to [current_league, team] do
            .m-user-list
              .m-user.as-selected{title: team.users.first.name}= user_image(team.users.first)
              .m-user.as-selected{title: team.users.last.name}= user_image(team.users.last) if team.double?

- if @user.number_of_games > 0
  .m-profile-stats

    %h4= t('.history')
    #history.m-profile-chart{ data: { rankings: @history_entries.map(&:ranks).to_json, quotas: @history_entries.map(&:quotas).to_json, lowest_rank: @lowest_rank } }

    %h4= t('.current_statistics')
    #stats.m-profile-chart{ data: { games: [ [t('common.wins'), @user.number_of_wins], [t('common.loses'), @user.number_of_losses]] , crawls: [ [t('common.let_crawl'), @user.number_of_crawls], [t('common.crawled'), @user.number_of_crawlings]]} }
      #games
      #crawls
  .badges

  .last-matches
    %h4=t('.last_matches')
    = render "matches/list", matches: @matches
