%p
  = link_to "Spieler bearbeiten", edit_league_user_path(current_league, @user), class: 'm-button'

.m-profile-teams
  .m-profile-basics
    %h4 Basics
    .m-user.as-selected= user_image(@user)
    .m-profile-basics--values
      .m-profile-basics--value= "Name: #{@user.name}"
      .m-profile-basics--value= "Elo Wert: #{@user.quota}"
      .m-profile-basics--value= "Aktuelle Siegesserie: #{@user.winning_streak} Spiele"
      .m-profile-basics--value= "Längste Siegesserie: #{@user.longest_winning_streak_games} Spiele"
      .m-profile-basics--value
        - if @trend > 0
          %span.as-positive= "Trend: +#{@trend} Punkte"
        - else
          %span.as-negative= "Trend: #{@trend} Punkte"
        (20 Spiele)
      - if @user.history_entries.any?
        .m-profile-basics--value
          - biggest_quota = @user.history_entries.order('quota desc').take.quota
          - lowest_quota = @user.history_entries.order('quota asc').take.quota
          = "Höchststand: #{biggest_quota} Punkte (#{@user.quota - biggest_quota})"
        .m-profile-basics--value
          = "Tiefstand: #{lowest_quota} Punkte (+#{@user.quota - lowest_quota})"
  - if @user.teams.any?
    .m-profile-teams--best
      -team = @user.teams.for_doubles.ranked.sort_by(&:value).reverse.first
      - if team.present?
        %h4 Bestes Team:
        = link_to [current_league, team] do
          .m-user-list
            .m-user.as-selected{title: team.users.first.name}= user_image(team.users.first)
            .m-user.as-selected{title: team.users.last.name}= user_image(team.users.last) if team.double?
          = team.name
    .m-profile-teams--worst
      - team = @user.teams.for_doubles.ranked.sort_by(&:value).first
      - if team.present?
        %h4 Schlechtestes Team:
        = link_to [current_league, team] do
          .m-user-list
            .m-user.as-selected{title: team.users.first.name}= user_image(team.users.first)
            .m-user.as-selected{title: team.users.last.name}= user_image(team.users.last) if team.double?
          = team.name

- if @user.number_of_games > 0
  .m-profile-stats

    %h4= t('.history')
    #history{ data: { rankings: @history_entries.map(&:ranks).to_json, quotas: @history_entries.map(&:quotas).to_json, lowest_rank: @lowest_rank } }

    %h4 Aktuelle Statistiken
    #stats{ data: { games: [ ["Siege", @user.number_of_wins], ["Niederlagen", @user.number_of_looses]] , crawls: [ ["Krabbeln lassen", @user.number_of_crawls], ["Gekrabbelt", @user.number_of_crawlings]]} }
      #games
      #crawls
  .badges

  .last-matches
    %h4 Letzte Spiele
    %ul.m-match-list
      = render "matches/list"
