.c-league-new.m-box
  = form_for @tournament, html: { class: 'm-form' } do |f|
    .m-box--headline= 'Turnierdaten bearbeiten'
    .m-form--row
      = f.label :name, class: 'm-label'
      = f.text_field :name, class: 'm-input as-colored'
    .m-form--row
      = f.label :location, class: 'm-label'
      = f.text_field :location, class: 'm-input as-colored'
    .m-form--row
      = f.label :number_of_tables, class: 'm-label'
      = f.text_field :number_of_tables, class: 'm-input as-colored'
    .m-form--row
    = f.submit "Änderungen speichern", class: 'm-button m-box--button'

%p
  Füge Teilnehmer hinzu:
  
%section
  = form_for @user, url: tournament_tournament_users_path(@tournament) do |f|
    = f.label :name
    = f.text_field :name
    = f.submit "Spieler erstellen"

%section
  - @tournament_users.each do |tournament_user|
    %p
      Spieler:
      = tournament_user.name
      = button_to "Spieler löschen", tournament_tournament_user_path(@tournament, tournament_user.id), method: :delete, confirm: "Spieler wirklich löschen?", class: "m-link as-negative"

%section
  %h3
    = link_to "Jetzt Turnierplan erstellen", tournament_tournament_gameplan_path(@tournament), method: :post
