%section
  %h1
    = @tournament.name
%section
  %p
    Turniername:
    = @tournament.name
  %p
    Location:
    = @tournament.location
  %p
    Verfügbare Tische:
    = @tournament.number_of_tables
%section
  - @tournament_users.each do |tournament_user|
    %div 
      Spieler:
      = tournament_user.name
%p
  =link_to "edit", edit_tournament_path

%p
  = link_to "Zum Turnierplan", tournament_tournament_gameplan_path(@tournament)