.b-settings--headline Kicker Settings
= form_tag '#', class: 'm-form', id: 'pebble_settings_form' do |f|
  .b-settings--row
    = label_tag :league, 'Select League', class: 'm-label'
    = select_tag :league, options_from_collection_for_select(@leagues, 'slug', 'name', @current_league_slug), class: 'm-input', required: true
  .b-settings--row
    = check_box_tag :receive_notifications, '1', @receive_notifications
    = label_tag :receive_notifications, 'Subscribe to Timeline Notifications', class: 'm-label'
  #cancel.b-settings--cancel Cancel
  = submit_tag "Save", class: 'b-settings--button m-button'
