= form_tag '#', class: 'm-form', id: 'pebble_settings_form' do |f|
  .m-form--row
    = label_tag :league, 'Your personal freckle token', class: 'm-label'
    %br
    = text_field_tag :token, @token, class: 'm-input'
  .m-form--row
    = button_tag "Cancel", class: 'm-button_twitter', id: 'cancel'
    %br
    %br
    = submit_tag "Save", class: 'm-button_facebook'
