:coffeescript
  $('#freckle_settings_form').submit (e) ->
    options =
      token: $('#token').val()
    document.location = "pebblejs://close##{ encodeURIComponent JSON.stringify(options) }"
    return false

= form_tag '#', class: 'm-form', id: 'freckle_settings_form' do |f|
  .m-form--row
    = label_tag :league, 'Your personal freckle token', class: 'm-label'
    %br
    = text_field_tag :token, @token, class: 'm-input'
  .m-form--row
    = button_tag "Cancel", class: 'm-button_twitter', id: 'cancel'
    %br
    %br
    = submit_tag "Save", class: 'm-button_facebook'
