- @hide_sidebar = true
%h2 Absolute Zahlen
%ul.kpi-list
  %li
    .kpi-list--type Ligen
    .kpi-list--value= @active_leagues.count
  %li
    .kpi-list--type Spieler
    .kpi-list--value= User.where(league_id: @active_leagues.map(&:id)).count
  %li
    .kpi-list--type Teams
    .kpi-list--value= Team.where(league_id: @active_leagues.map(&:id)).count
  %li
    .kpi-list--type Spiele
    .kpi-list--value= Match.where(league_id: @active_leagues.map(&:id)).count

%small Als Ligen gelten Ligen außer Railslove die mehr als 10 Spiele haben


%h2 KPIs
%h3 Alle KPIs beziehen sich auf aktive Ligen

%h4 Aktive Ligen
.ct-chart.ct-double-octave{data: {labels: @active_league_counts.map{|league| "KW#{league.first}"}, values: @active_league_counts.map(&:last)}}


%h4 Neue User pro Woche
.ct-chart.ct-double-octave{data: {labels: @user_per_week.map{|users| "KW#{users.first}"}, values: @user_per_week.map(&:last)}}

- values = @matches_per_week.map(&:last)
%h4
  Spiele pro Woche
  = "(Aktuell: #{values.last})"
- values[values.length-1] = (values.last.to_f / Date.today.wday * 5).round if Date.today.wday < 5 if values.length > 0
.ct-chart.ct-double-octave{data: {labels: @matches_per_week.map{|matches| "KW#{matches.first}"}, values: values}}
