.l-content-wrapper
  .c-landing
    .c-landing--header
      = link_to root_path(locale: other_locale(I18n.locale)), class: 'c-language-toggler' do
        = svg_tag("#{other_locale(I18n.locale)}.svg")

      = link_to ligen_path, class: 'c-landing--header--button' do
        .c-landing--header--button--text= t('.all_leagues')
        = image_tag('flieger.svg')
      .c-landing--header--headbox
        = image_tag('logo.png')
        = t('.teaser')
        = image_tag('line.png')
      = link_to t('landing.add_league'), new_league_path, class: 'm-button c-landing--header--league-button'

    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        = t('landing.how_to.headline')
    .c-landing--screens
      .c-landing--screen
        .c-landing--screen--number 1
        = link_to new_league_path do
          = picturefill_image_tag('laptop1.png', 'laptop1@2x.png', class: 'c-landing--screen--image')
        .c-landing--screen--text= t('landing.how_to.get_started')
      .c-landing--screen
        .c-landing--screen--number 2
        = picturefill_image_tag('laptop2.png', 'laptop2@2x.png', class: 'c-landing--screen--image')
        .c-landing--screen--text= t('landing.how_to.add_match')
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        Badges
      .c-landing--headline--text= t('landing.texts.badges')
    .c-landing--badges
      - User::BADGES.each do |badge|
        .c-landing--badge{ class: "as-#{badge}" }
          .m-badge-icon{ class: "as-#{badge}" }
            %i
          .c-landing--badge--text
            = t("badges.descriptions.#{badge}")
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        Features
    .c-landing--feature
      .c-landing--feature--image= image_tag('statistiken@2x.png')
      .c-landing--feature--text= t('features.stats')
    .c-landing--feature.as-switched
      .c-landing--feature--image= image_tag('ranking@2x.png')
      .c-landing--feature--text= t('features.ranking')

    .c-landing--feature
      .c-landing--feature--image= image_tag('teams@2x.png')
      .c-landing--feature--text= t('features.teams')
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        = t('.ranking_headline')
      .c-landing--headline--text= t('.ranking_text')

    .c-landing-people
      .c-landing-person.m-profile-basics
        %h4= t('.best.most_points')
        .m-user.as-selected.m-profile-basics--user= user_image(@point_user, '115x115')
        .m-profile-basics--values
          .m-profile-basics--value
            %span= t('.best.name')
            = @point_user.name
          .m-profile-basics--value
            %span= t('.best.league')
            = @point_user.league.name
          .m-profile-basics--value
            %span= t('common.points')
            = @point_user.quota
      .c-landing-person.m-profile-basics
        %h4= t('.best.most_games')
        .m-user.as-selected.m-profile-basics--user= user_image(@game_user, '115x115')
        .m-profile-basics--values
          .m-profile-basics--value
            %span= t('.best.name')
            = @game_user.name
          .m-profile-basics--value
            %span= t('.best.league')
            = @game_user.league.name
          .m-profile-basics--value
            %span= t('.best.games')
            = @game_user.number_of_games
            = "(#{@game_user.number_of_wins}/#{@game_user.number_of_losses})"

      .c-landing-person.m-profile-basics
        %h4= t('.best.longest_winning_streak')
        .m-user.as-selected.m-profile-basics--user= user_image(@longest_user, '115x115')
        .m-profile-basics--values
          .m-profile-basics--value
            %span= t('.best.name')
            = @longest_user.name
          .m-profile-basics--value
            %span= t('.best.league')
            = @longest_user.league.name
          .m-profile-basics--value
            %span= t('.best.wins')
            = @longest_user.longest_winning_streak_games

/ = render 'layouts/social'
