.l-content-wrapper
  .c-landing
    .c-landing--header
      = link_to root_path(locale: other_locale(I18n.locale)), class: 'c-language-toggler' do
        = svg_tag("#{other_locale(I18n.locale)}.svg")

      = link_to image_tag('landingpage_button.png'), new_league_path, class: 'c-landing--header--button'
      .c-landing--header--headbox
        = image_tag('logo.png')
        = t('.teaser')
        = image_tag('line.png')
      = link_to t('.all_leagues'), ligen_path, class: 'm-button c-landing--header--league-button'
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        Badges
      .c-landing--headline--text= t('landing.texts.badges')
    .c-landing--badges
      - User::BADGES.each do |badge|
        .c-landing--badge{ class: "as-#{badge}" }
          .m-badge-icon{ class: "as-#{badge}" }
            %i
          .c-landing--badge--text
            = t("badges.descriptions.#{badge}")
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        Features
    .c-landing--feature
      .c-landing--feature--image= image_tag('statistiken@2x.png')
      .c-landing--feature--text= t('features.stats')
    .c-landing--feature.as-switched
      .c-landing--feature--image= image_tag('ranking@2x.png')
      .c-landing--feature--text= t('features.ranking')

    .c-landing--feature
      .c-landing--feature--image= image_tag('teams@2x.png')
      .c-landing--feature--text= t('features.teams')
    .c-landing--headline.m-icon-headline
      .c-landing--headline-head.m-icon-headline--head
        %i.c-landing--headline--icon.icon-star.m-icon-headline--icon
        = t('.ranking_headline')
      .c-landing--headline--text= t('.ranking_text')

/ = render 'layouts/social'
