= form_for @match, class: 'm-form' do |f|

  .m-user-list{data: {count: 0}}
    .m-headline Team 1
    - team1 = @teams.present? ? @teams.first : nil
    - User.ranked.each do |user|
      .m-user{title: user.name, data: {value: user.id}, class: ("as-selected" if team1 && team1.users.include?(user)) }= user_image(user)
    .selects
      = select_tag "team1[]", options_for_select(User.ranked.map{|user|[user.name, user.id]}, team1.try(:users).try(:first).try(:id)), data: {player: 0}, include_blank: true
      = select_tag "team1[]", options_for_select(User.ranked.map{|user|[user.name, user.id]}, team1.try(:users).try(:last).try(:id)), data: {player: 1}, include_blank: true

  .input-rows
    - 3.times do |i|
      .m-form--row
        = text_field_tag "set#{i+1}[]", '', class: 'm-input as-short', tabindex: i * 2 + 1
        = check_box_tag "crawling#{i+1}"
        = text_field_tag "set#{i+1}[]", '', class: 'm-input as-short', tabindex: i * 2 + 2
  .m-user-list{data: {count: 0}}
    .m-headline Team 2
    - team2 = @teams.present? ? @teams.last : nil
    - User.ranked.each do |user|
      .m-user{title: user.name, data: {value: user.id}, class: ("as-selected" if team2 && team2.users.include?(user)) }= user_image(user)
    / = text_field_tag "team2[]", "", data: {player: 0}
    / = text_field_tag "team2[]", "", data: {player: 1}
    .selects
      = select_tag "team2[]", options_for_select(User.ranked.map{|user|[user.name, user.id]}, team2.try(:users).try(:first).try(:id)), data: {player: 0}, include_blank: true
      = select_tag "team2[]", options_for_select(User.ranked.map{|user|[user.name, user.id]}, team2.try(:users).try(:last).try(:id)), data: {player: 1}, include_blank: true
  .m-form--row.as-actions
    = f.submit "Eintragen", class: "m-button"
