= form_for @match, url: league_matches_path(current_league, @match), class: 'm-form' do |f|
  .m-team-select
    .m-headline Team 1
    - team1 = @teams.present? ? @teams.first : nil
    .selects
      = select_tag "team1[]", options_for_select(current_league.users.ranked.map{|user|[user.name, user.id]}, team1.try(:users).try(:first).try(:id)), data: {player: 0, placeholder: 'Spieler W채hlen...'}, include_blank: true
      = select_tag "team1[]", options_for_select(current_league.users.ranked.map{|user|[user.name, user.id]}, team1.try(:users).try(:last).try(:id)), data: {player: 1, placeholder: 'Spieler W채hlen...'}, include_blank: true

  .input-rows
    - 3.times do |i|
      .m-form--row
        = text_field_tag "set#{i+1}[]", '', class: 'm-input as-short', tabindex: i * 2 + 1
        = check_box_tag "crawling#{i+1}"
        = text_field_tag "set#{i+1}[]", '', class: 'm-input as-short', tabindex: i * 2 + 2
    = f.submit "Eintragen", class: "m-button"
  .m-team-select
    .m-headline Team 2
    - team2 = @teams.present? ? @teams.last : nil
    .selects
      = select_tag "team2[]", options_for_select(current_league.users.ranked.map{|user|[user.name, user.id]}, team2.try(:users).try(:first).try(:id)), data: {player: 0, placeholder: 'Spieler W채hlen...'}, include_blank: true
      = select_tag "team2[]", options_for_select(current_league.users.ranked.map{|user|[user.name, user.id]}, team2.try(:users).try(:last).try(:id)), data: {player: 1, placeholder: 'Spieler W채hlen...'}, include_blank: true
