%h2.m-headline Ergebnis des Satzes ändern

= form_tag league_match_path(@match.league, @match), method: :patch, class: 'm-form' do |f|
  .m-form--row
    .m-user-list
      - @match.winner_team.users.each do |user|
        .m-user.as-selected{title: user.name}= user_image(user)
      .score= "+#{@match.difference}"
  .m-form--row
    = text_field_tag :winner_score, @match.score.split(":").first, class: 'm-input as-short'
    = ":"
    / = check_box_tag :crawling, @match.crawling, @match.crawling
    = text_field_tag :loser_score, @match.score.split(":").last, class: 'm-input as-short'
    = check_box_tag :crawling, true, @match.crawling?, data: { behavior: 'crawling-check' }
    %label{:for => "crawling", class: "c-crawling", title: 'Checkbox auswählen, wenn gekrabbelt wurde'}
  .m-form--row
    .m-user-list
      - @match.loser_team.users.each do |user|
        .m-user.as-selected{title: user.name}= user_image(user)
      .score= "-#{@match.difference}"
  .m-form--row
    = submit_tag "Match ändern", class: 'm-button'
    = link_to "Löschen", league_match_path(@match.league, @match), method: :delete, confirm: "Match wirklich löschen?", class: "m-link as-negative"
