=form_for @match do |f|
  %h1 Neues Match
  .team_inputs
    %h2 Team 1
    .team_members.team1{ :"data-member-count" => 0 }
      .mobile_team_selector
        =render "user_selector"
      .selects
        = select_tag "team1[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 1
        = select_tag "team1[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 2

    .sets.float.no_mobile
      %h4.top
        Krabbeln?
      .row
        = text_field_tag "team1[set1]", '', tabindex: 1
        = check_box_tag "crawling[set1]", true
      .row
        = text_field_tag "team1[set2]", '', tabindex: 3
        = check_box_tag "crawling[set2]", true
      .row
        = text_field_tag "team1[set3]", '', tabindex: 5
        = check_box_tag "crawling[set3]", true
  .only_mobile.sets.mobile_sets
    .float_row
      = text_field_tag "team1[set1]", '', tabindex: 1
      = text_field_tag "team1[set2]", '', tabindex: 3
      = text_field_tag "team1[set3]", '', tabindex: 5
    .float_row
      = check_box_tag "crawling[set1]", true
      = check_box_tag "crawling[set2]", true
      = check_box_tag "crawling[set3]", true
    .float_row
      = text_field_tag "team2[set1]", '', tabindex: 2
      = text_field_tag "team2[set2]", '', tabindex: 4
      = text_field_tag "team2[set3]", '', tabindex: 6
  .team_inputs
    %h2.align-right.no_mobile Team 2
    %h2.only_mobile Team 2
    .sets.no_mobile
      = text_field_tag "team2[set1]", '', tabindex: 2
      = text_field_tag "team2[set2]", '', tabindex: 4
      = text_field_tag "team2[set3]", '', tabindex: 6
    .team_members{ :"data-member-count" => 0 }
      .mobile_team_selector
        =render "user_selector"
      .selects
        = select_tag "team2[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 1
        = select_tag "team2[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 2
  .actions
    = f.submit "Ergebnis übermitteln", :class => "btn btn-primary"
