=form_for @match do |f|
  %h2.m-headline Neues Match
  .team_inputs
    .team_members.team1{ :"data-member-count" => 0 }
      =render "user_selector"
      .selects
        = select_tag "team1[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 1
        = select_tag "team1[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 2

  .sets
    %h4.top
      Krabbeln?
    .row
      = text_field_tag "team1[set1]", '', tabindex: 1, class: 'm-input as-short'
      = check_box_tag "crawling[set1]", true
      = text_field_tag "team2[set1]", '', tabindex: 2, class: 'm-input as-short'
    .row
      = text_field_tag "team1[set2]", '', tabindex: 3, class: 'm-input as-short'
      = check_box_tag "crawling[set2]", true
      = text_field_tag "team2[set2]", '', tabindex: 4, class: 'm-input as-short'
    .row
      = text_field_tag "team1[set3]", '', tabindex: 5, class: 'm-input as-short'
      = check_box_tag "crawling[set3]", true
      = text_field_tag "team2[set3]", '', tabindex: 6, class: 'm-input as-short'
  .team_inputs
    .team_members{ :"data-member-count" => 0 }
      =render "user_selector"
      .selects
        = select_tag "team2[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 1
        = select_tag "team2[users][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true, :"data-member-id" => 2
  .actions
    = f.submit "Ergebnis übermitteln", :class => "btn btn-primary"
