=form_for @match do |f|
  %h1 Neues Match
  = select_tag "team1[user][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true
  = select_tag "team1[user][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true
  = text_field_tag "team1[goals]"
  .versus
    VS
  = select_tag "team2[user][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true
  = select_tag "team2[user][]", options_for_select(User.all.map{ |u| [u.name,u.id] }), :include_blank => true
  = text_field_tag "team2[goals]"
  .crawling
    %label
      = check_box_tag :crawling
      Wurde gekrabbelt?
  .actions
    = f.submit "Ergebnis übermitteln", :class => "btn btn-primary"
