%footer.l-footer
  .l-footer--wrapper
    .karl-kicker{ data: { behavior: 'trigger-chat'} }
      .karl-kicker--text= t('footer.karl_kicker_text')
      = svg_tag('karl_kicker.svg')
    .c-footer-content
      %div= t('footer.created_by')
      .c-footer--railslove
        = link_to 'http://www.railslove.com' do
          = svg_tag('railslove_logo.svg')
      .c-footer-links
        .c-footer-link= link_to t('common.imprint'), imprint_path, class: 'm-link'
        .c-footer-link= link_to t('common.faq'), faq_path, class: 'm-link'
        .c-footer-link= link_to t('common.leagues'), ligen_path, class: 'm-link'
      .c-footer-sharing
        - url = url_for(:only_path => false)
        = link_to "https://www.facebook.com/dialog/share?app_id=454715457990828&redirect_uri=#{url}&href=#{url}", class: 'c-footer-sharing--button as-facebook', data: { behavior: 'js-link' } do
          %i.icon-facebook
          = t('common.share')
        = link_to "http://twitter.com/share?text=@railslove&url=#{url}", class: 'c-footer-sharing--button as-twitter', data: { behavior: 'js-link' } do
          %i.icon-twitter
          Tweet
