.l-header-wrapper
  .l-header
    .m-logo.as-header-logo
      - if league_present?
        = link_to current_league.name, league_path(current_league)
      - else
        = link_to root_path do
          = svg_tag "logo_kickerapp.svg"
    .m-navigation-trigger
    .m-navigation
      - if league_present?
        .m-navigation--item.as-mobile-only= link_to "Alle Spiele", league_path(current_league)
        .m-navigation--item= link_to t('common.new_match'), new_league_match_path(current_league)
        .m-navigation--item.as-mobile-only= link_to t('.ranking'), league_users_path(current_league)
        .m-navigation--item= link_to t('.team_ranking'), league_teams_path(current_league)
        .m-navigation--item= link_to t('.badges'), badges_league_path(current_league)
        .m-navigation--item= link_to t('.match_maker'),shuffle_select_league_matches_path(current_league)
        .m-navigation--item
          = link_to new_league_user_path(current_league) do
            %i.icon-user-add
      - else
        .m-navigation--item= link_to t('common.new_league'), new_league_path
      .m-navigation--item.as-flag
        = link_to url_for(only_path: false, locale: other_locale(I18n.locale)) do
          = svg_tag "#{other_locale(I18n.locale)}.svg"
