.a-row.without-padding
  - url = url_for(:only_path => false)
  %ul.a-social-buttons.small-block-grid-4.medium-block-grid-2.large-block-grid-4
    %li.a-social-button.as-facebook
      = link_to "https://www.facebook.com/dialog/share?app_id=1530820817136389&redirect_uri=#{url}&href=#{url}", class: 'a-social-button--link', data: { behavior: 'js-link' } do
        .a-social-button--icon=svg_tag('icons/icon_facebook.svg')
        .a-social-button--text= t('social_share.facebook')
    %li.a-social-button.as-twitter
      = link_to "http://twitter.com/share?text=@railslove&url=#{url}", class: 'a-social-button--link', data: { behavior: 'js-link' } do
        .a-social-button--icon=svg_tag('icons/icon_share_twitter.svg')
        .a-social-button--text= t('social_share.twitter')
    %li.a-social-button.as-google
      = link_to "https://plus.google.com/share?url=#{url}", target: '_blank', class: 'a-social-button--link', data: { behavior: 'js-link' } do
        .a-social-button--icon=svg_tag('icons/icon_googleplus.svg')
        .a-social-button--text= t('social_share.common')
    %li.a-social-button.as-linkedin
      = link_to "http://www.linkedin.com/shareArticle?mini=true&url=#{url}", target: '_blank', class: 'a-social-button--link', data: { behavior: 'js-link' } do
        .a-social-button--icon=svg_tag('icons/icon_share_linkedin.svg')
        .a-social-button--text= t('social_share.common')
