!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %title = page_title
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
  %body{class: controller_name, id: "#{controller_name}_#{action_name}"}
    = render 'layouts/flashes'
    = yield
    = render 'layouts/javascript'
