!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{name: 'apple-mobile-web-app-title', content: 'Kicker App'}
    %title= @page_title || "Kicker App"
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/favicon-196x196.png", :rel => "icon", :sizes => "196x196", :type => "image/png"}
    %link{:href => "/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
  %body{class: controller_name, id: "#{controller_name}_#{action_name}"}
    = render 'layouts/header'
    = render 'layouts/flashes'
    .l-content-wrapper
      .l-content
        = yield
      .l-sidebar
        - if league?
          = render 'users/list', users: current_league.users.ranked.select{|user| user.active? }
    = render 'layouts/javascript'
