
- body_class = [controller_name, @hide_sidebar ? "as-sidebar-hidden" : nil].join " "
- body_id = "#{controller_name}_#{action_name}"

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{name: 'apple-mobile-web-app-title', content: 'Kicker App'}

    %title= @page_title || "Kicker App"
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
    = render 'layouts/favicons'

  %body{class: body_class, id: body_id}
    = render 'layouts/header'
    = render 'layouts/flashes'
    .l-content-wrapper
      .l-content
        = yield
      .l-sidebar
        - unless @hide_sidebar
          - if league_present?
            = render 'users/list', users: current_league.users.ranked.select{|user| user.active? }
    = render 'layouts/footer'
    = render 'layouts/javascript'
