!!! 5
%html
  %head
    %title= "Kicker Counter"
    %meta{ :name => "viewport", :content => "width=device-width" }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => [controller_name], :id => "#{controller_name}_#{action_name}"}
    #wrapper
      .navbar.navbar-inverse
        .navbar-inner
          .container
            .top-nav
              = link_to "Kicker Krabbel Zähler",  root_path, :id => "logo", :class => 'brand'
              %ul.user_list.pull-left
                - User.all.each do |user|
                  %li
                    = link_to matches_path(:user_id => user.id) do
                      %span.balanace= match_balance(user)
                      = image_tag(user.image)
              %ul.pull-right
                %li= link_to "Twitter login", "/auth/twitter"
                %li= link_to "Neues Match", new_match_path




      .container.flash_messages
        - flash.each do |key, value|
          .flash{ :class => key.to_s }
            = value
      .container#main-content
        = yield

    %footer

