!!! 5
%html
  %head
    %title= "Kicker Counter"
    %meta{ :name => "viewport", :content => "width=device-width" }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => [controller_name], :id => "#{controller_name}_#{action_name}"}
    #wrapper
      %header.container
        %nav
          .top-nav
            %ul.pull-right
              %li= link_to "Twitter login", "/auth/twitter"
              %li= link_to "Neues Match", new_match_path
          = link_to "",  root_path, :id => "logo"

        %ul.user_list
          - User.all.each do |user|
            %li
              %span.balanace= match_balance(user)
              =link_to image_tag(user.image), matches_path(:user_id => user.id)


      .container.flash_messages
        - flash.each do |key, value|
          .flash{ :class => key.to_s }
            = value
      .container#main-content
        = yield

    %footer

