!!! 5
%html
  %head
    %title= "Interactive Cologne -  Kicker"
    %meta{ :name => "viewport", :content => "width=device-width" }
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{rel: 'shortcut icon', href: '/favicon.png'}
  %body{:class => [controller_name], :id => "#{controller_name}_#{action_name}"}
    .l-header
      .l-header--content
        =link_to root_path, :class => 'm-logo' do
          = "Interactive Cologne -  Kicker"
        %ul.m-navigation-list_right
          %li.m-navigation-list--item= link_to "Neues Match", new_match_path
          / %li.m-navigation-list--item= link_to "Spielerranking", users_path, class: "only_mobile"
          / %li.m-navigation-list--item= link_to "Teamranking", teams_path
          %li.m-navigation-list--item= link_to "SignUp", "/auth/twitter"
    .l-content
      .flash_messages
        - flash.each do |key, value|
          .flash{ :class => key.to_s }
            = value
      .l-content--main
        = yield
      .l-content--sidebar
        = render "users/list"
    %header
